@import url(https://fonts.googleapis.com/css2?family=Caesar+Dressing&display);

@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 15px solid white;
  box-shadow: 0px 5px 5px rgb(87, 62, 62);
}
.container .box {
  width: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15px;
}
.container .box .title {
  width: 700px;
  position: relative;
  display: flex;
  align-items: center;
  height:60px;
  justify-content: start;
  
}
.container .box .title .block {
  width: 0%;
  height: inherit;
  background: #a32f2fe1;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
 
}
.container .box .title h1 {
  font-family: 'Caesar Dressing', sans-serif;
  color: #fff;
  font-size: 40px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
  white-space: nowrap;
  letter-spacing: 7px;
  padding-right: 20px;
  
  
}

.container .box .role {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 10px;
  padding-left: 100px;
}
.container .box .role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.container .box .role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 2px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  /* 0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  } */
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  font-size: 18pt;
}

body {
  margin:0;
  background-color: white;
}
  #mainHeader{
    justify-content: center;
    background-color:rgba(117, 0, 0, 0.582) ;
    margin-top: 15px;
  }
  nav{
    margin:0;
    background-color: rgba(75, 0, 0, 0.952);
    border: none;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0px 5px 5px black;
  }   

#food{
  border-radius: 5px;
  padding-top:5px;

}

#menu_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:rgba(117, 0, 0, 0.582) ;
}

  #home_main {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 10px 10px 16px -13px rgba(0,0,0,0.75);
    justify-content: space-evenly;
    padding-top:25px;
    padding-bottom:25px;
  }
#foodMenu {
  width: 85%;
  height:100%;
  align-self: center;
  padding-top:75px;
  padding-bottom:75px;
}
  #home {
    font-size: 70px;
    font-family:'Caesar Dressing';
    justify-content: flex-start;
    padding-bottom:0;
    border-left : none;
    padding-right: 150px;
  }
  #home:hover{
    background-color: transparent;
    padding-bottom:0;
  }
#menu{
  border-left: none;
}
  nav > ul  {
    padding-top:25px;
    display:flex;
    list-style: none;
    justify-content: center; 
    font-size: 20px;
    margin:0;
    align-items: baseline; 
  }
  header{
    padding-bottom: 10px;
  } 

  #orderUp{
    padding-top:100px;
  }
main h1 {
  font-family:Tahoma, sans-serif;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.foodTruck_main {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 background-color: rgba(117, 0, 0, 0.582);
 align-items: center;
}



input[type=text], select, textarea {
  width: 50%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}


input[type=submit] {
  background-color:rgba(75, 0, 0, 0.952);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#locationHead{
  padding-top:25px;
  padding-bottom: 25px;
  font-weight: 350;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}
#location_main{
  background-color: rgba(117, 0, 0, 0.582);
  padding-top: 50px;
  height : 50vw;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;

}

#location_para {
  color: white;
  font-size: 24px;
  font-family: sans-serif;
}

#location_div {
  align-items: center;
  padding-top:25px;
}
iframe {
  
  width : 35vw;
  height: 35vw;
  border-radius: 5px;
}
input[type=submit]:hover {
  background-color: rgba(117, 0, 0, 0.79) ;
}
.form form {
  padding-left: 150px;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top : 10px solid white;
  padding-top : 15px;
  background-color:rgba(117, 0, 0, 0.582) ;
  padding: 20px;
}
.form h1 {
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
  color: white;
}

.foodTruck_main img {
  width : 350px;
  border-radius: 5px;
}

#onlineOrder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top:100px;
  padding-bottom:100px;
  text-align: center;
  background-color: rgba(117, 0, 0, 0.582) ;
}
#onlineOrder img{
  width : 200px;
  padding-left:50px;
}
  nav>ul>li>a{
    
    text-decoration: none;
    color: white;
    white-space: nowrap;
    padding: 10px;
    border-left: solid white 1px ;
    
  }
#onlineHead{
  text-align: center;
}
  p.home{
    font-size: 50px;
    text-align: center;
    background-color: rgba(75, 0, 0, 0.952);
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px ;
  }

  nav>ul>li>a:hover{
    background-color: rgba(117, 0, 0, 0.582);
  }
  #menu-button {
    display: none;
  }
.footer{
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  padding-top:15px;
  padding-bottom:15px;
  box-sizing: border-box;
  background-color: rgba(75, 0, 0, 0.952);
  border-top:2px solid white;

}

.inner_footer{
  display:block;
  margin: 0 auto;
  width: 1100px;
  height:100%;
}

.inner_footer .logo_container{
  width: 25%;
  float: left;
  height: 100%;
  display: block;
  text-decoration: none;
}

.inner_footer .logo_container img{
  width:100px;
  height: auto;
}

.inner_footer .footer_third {
  width: calc(21.666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer .footer_third:last-child{
  margin-right: 0;

}
.inner_footer .footer_third h1{
  font-family: 'arial';
  font-size: 22px;
  color: white;
  display: block;
  width:100%;
  margin-bottom:20px;

}

.inner_footer .footer_third a{
  font-family: 'arial';
  font-size: 18px;
  color: white;
  display: block;
  width:100%;
  margin-bottom:5px;

}

.inner_footer .footer_third li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}

.inner_footer .footer_third span {
  color: white;
  font-family: 'arial';
  font-size: 16px;
  font-weight: 200;
  display: block;
  width: 100%;

}

.inner_footer .footer_third h1>a{
  text-decoration: none;
  color:white;
}


  @media(max-width: 600px) {
    #menu-button {
      padding:10px;
      display: block;
      align-self: stretch;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .container {
      visibility: hidden;
    }

    #home{ 
    padding: 0;
    font-size: 30px;
    font-family:'Caesar Dressing';
    padding-right: 25%;
    }

    header{
      background-color:  rgb(134, 2, 2);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      left:0;
      right:0;
      top:0;
      height: 60px;
      box-shadow: 0 -15px 10px 20px gray;
    }

    main {
      padding-top:60px;
    }


    h1{
      color:white;
    }
    h1>img{
      width:120px;
    }

    nav {
      display: none;
      position: absolute;
      top:100%;
      right:0;
      flex-direction: column;
    }
    nav.open {
      display: block;
    }

    nav > ul {
      flex-direction: column;
     
    }
    nav > ul > li >a {
      border-top: 1px solid rgb(131, 105, 105);
      padding-top:0;
      padding-bottom:0;
      border:none;
    }

    nav>ul>li:active, .active{
      background-color: rgb(134, 2, 2);

    }

    .footer .inner_footer {
      width: 90%;
    }

    .inner_footer .logo_container,.inner_footer .footer_third{
      width:100%;
      margin-bottom: 30px;
    }
  }